.div-imagen-post{
  width: 100%;
  height: max-content;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen-post{
  width: 40%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}