*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans;
  text-decoration: none;
}
#root{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans;
  text-decoration: none;
}
